/*-- Header/Footer --*/

.jumbo {
  border-radius: 0%;
}

.my-logo {
  float: left;
  height: 120px;
  width: 120px;
  margin: 0 20px 20px 0px;
}

/*-- Body --*/

.interest-row {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.interest-img {
  height: auto;
  max-width: 300px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.interest-adj {
  max-width: 276px;
}

