/*-- Header/Footer --*/

h1 {
  font-size: 60px;
}

.jumbo {
  border-radius: 0%;
}

.my-logo {
  float: left;
  height: 120px;
  width: 120px;
  margin: 0 20px 20px 0px;
}

/*-- Body --*/

h2 {
  font-size: 42px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 36px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 32px;
}

h6 {
  font-size: 22px;
}

p {
  font-size: 18px;
  margin-bottom: 2rem;
}

li {
  font-size: 20px;
}

.about-me-text {
  text-align: justify;
}

.education-image {
  max-width: 800px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.education-text {
  text-align: justify;
}

.education-text li {
  margin-bottom: 1rem;
}

.skills-image {
  max-width: 360px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.interest-text h4 {
  font-size: 32px;
}

.interest-text p {
  font-size: 20px;
  text-align: justify;
}

.interest-row {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.interest-img {
  min-width: 200px;
  max-width: 320px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.interest-adj {
  min-width: 186px;
  max-width: 294px;
}

.planning-image {
  max-width: 400px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.goals-image {
  max-width: 720px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.goals-text {
  text-align: justify;
}