/*-- Header/Footer --*/

.jumbo {
  border-radius: 0%;
}

.my-logo {
  float: left;
  height: 120px;
  width: 120px;
  margin: 0 20px 20px 0px;
}

/*-- Body --*/

.interest-text h4 {
  font-size: 32px;
}

.interest-text p {
  font-size: 20px;
  text-align: justify;
}

.interest-row {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.interest-img {
  justify-content: center;
  min-width: 200px;
  max-width: 320px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.interest-adj {
  min-width: 186px;
  max-width: 294px;
}

